{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/admin_login.css' %}">
{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-header">
        <h2>Admin Login Form</h2>
    </div>
    {% if msg %}
    <div class="alert alert-danger" role="alert">
        {{msg}}
    </div>
    {% endif %}
    <form action="/admin-login" method="POST" target="blank">
        {% csrf_token %}

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="abc@gmail.com" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1"
                placeholder="********" required>
        </div>
        <div class="login-btn">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
</div>
{% endblock %}