{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CDN link-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet"  href="{%  static  'css/manage_farmers.css'  %}">

    <!-- importing styles -->
    {% block styles %}

    {% endblock %}

    <title>Farmers Point</title>
</head>
<body style="background-image: url('{% static 'images/bg.jpg'%}')">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid" id="navbar-modified">
          <div id="left-block">
            <a class="navbar-brand" href="/">
              <img id="logo" src="{% static 'images/logo.jpg' %}" 
                  style="height:40px; width:40px;
                          border: 1px solid black;
                          border-radius: 20px;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown" class="navigation">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link " id="manage_farmers" aria-current="page" href="/manage-farmer">Manage Farmers</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>

    <div class="about-table-container">
        <h2><b>All Farmers</b></h2>
        <table class="table about-table">
            <thead>
                <tr id="table-head">
                    <td>Name</td>
                    <td>Email</td>
                    <td>Delete</td>
                </tr>
            </thead>
            <tbody>
                {% for userDetail in userDetails %}
                <tr>
                    <td>{{userDetail.name}}</td>
                    <td>{{userDetail.email}}</td>
                    <td>
                        <form action="/manage-farmer" method="POST">
                            {% csrf_token %}
                            <input type="text" name="action" value="delete" hidden>
                            <input type="text" name="mail" value="{{ userDetail.email }}" hidden>
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="add-btn">
        <form action="/manage-farmer" method="POST">
            {% csrf_token %}
            <input type="text" name="action" value="add" hidden>
            <button type="submit" class="btn btn-success">Add Farmer</button>
        </form>
    </div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>