{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block content %}
    <div class="signup-container">
        <div class="signup-header">
            <h2>SignUp Form</h2>
        </div>
        {% if msg %}
            <div class="alert alert-danger" role="alert">
                {{msg}}
            </div>
        {% endif %}
        <form action="/signup" method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <label for="username" class="form-label" class="text-white-100">Username</label>
                {% if errors.error1 %}
                    <input type="text" name="username" class="form-control" id="username" aria-describedby="emailHelp" 
                           placeholder="Tushar Jangid" quired>
                {% else %}
                    <input type="text" value="{{ data.email }}" name="username" class="form-control" id="username" 
                           placeholder="Tushar Jangid" required>
                {% endif %}
            </div>
            
            {% if errors.error1 %}
                <div class="alert alert-danger mt-1 p-1" role="alert">
                    {{errors.error1}}
                </div>
            {% endif%}

            <div class="mb-3">
                <label for="email" class="form-label" class="text-white-100">Email address</label>
                {% if errors.error1 %}
                    <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" 
                           placeholder="abc@gmail.com" quired>
                {% else %}
                    <input type="email" value="{{ data.email }}" name="email" class="form-control" id="email" 
                           placeholder="abc@gmail.com" required>
                {% endif %}
            </div>

            {% if errors.error2 %}
                <div class="alert alert-danger mt-1" role="alert">
                    {{errors.error2}}
                </div>
            {% endif%}

            <div class="mb-3">
                <label for="password" class="form-label" class="text-white-100">Password</label>
                {% if errors.error2 %}
                    <input type="password" name="password" class="form-control" id="password1" 
                           placeholder="********" required>
                {% else %}
                    <input type="password" value="{{ data.password }}" name="password" class="form-control" id="password1" 
                           placeholder="********" required>
                {% endif %}
            </div>

            {% if errors.error3 %}
                <div class="alert alert-danger mt-1" role="alert">
                    {{errors.error3}}
                </div>
            {% endif%}

            <div class="mb-3">
                <label for="confirm_password" class="form-label" class="text-white-100">Confirm Password</label>
                {% if errors.error3 or errors.error2 %}
                    <input type="password" name="confirm_password" class="form-control" id="password2" 
                           placeholder="********" required>
                {% else %}
                    <input type="password" value="{{ data.confirm_password }}" name="confirm_password" class="form-control" id="password2" 
                           placeholder="********" required>
                {% endif %}
            </div>
            <div class="signup-btn">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}